@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// FONTS
$font-header: "Space Mono";
$font-main: "Poppins";

// COLORS
// Text Colors
$header-primary: #FFD700;
$header-secondary: #FF7597;
$text-primary: #BB86FC;
$text-secondary: #03DAC5;




// Main app styling
.app {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
}

.header {
  display: flex;
  justify-content: center;
  h1 {
    font-family: $font-header;
    color: $header-primary;
    text-align: center;
    font-size: 3rem;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $text-primary;
}

.footer_icons {
  color: $header-primary;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.clickable_icon {
  // padding: 1rem;
  color: $header-primary;
  :hover {
    cursor: pointer;
  }
}

.home {
  margin: 0 5%;
  color: $text-primary;
  h3 {
    color: $header-secondary;
  }
}

.home_image {
  color: black;
  width: 100rem;
  height: 100rem;
}

.wings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    form {
      margin: 2rem 0;
    }
    input {
      background-color: white;
      border: none;
      width: 40rem;
      height: 2rem;
      font-size: 2rem;
      text-align: center;
    }
    p {
      color: #FF7597;
      font-size: 4rem;
    }
}