@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// FONTS
$font-header: "Space Mono";
$font-main: "Poppins";


// COLORS
// Text Colors
$header-primary-dark: #FFD700;
$header-primary-light: #FF7597;
$text-primary: #BB86FC;
$text-secondary: #03DAC5;
$text-warning: #dc3545;
$background-dark-primary: #1f1e21;

$btn-background: #24a0ed;
$white: #ffffff;
$black: #000000;

:root {
  /* Black */
  --black-1: #000000;
  --black-2: #1a1a1a;
  --black-3: #333333;
  --black-4: #4d4d4d;
  --black-5: #666666;
  --black-6: #808080;
  --black-7: #999999;
  --black-8: #b3b3b3;
  --black-9: #cccccc;
  --black-10: #e6e6e6;

  /* White */
  --white-1: #ffffff;
  --white-2: #f0f0f0;
  --white-3: #e0e0e0;
  --white-4: #d1d1d1;
  --white-5: #c2c2c2;
  --white-6: #b3b3b3;
  --white-7: #a3a3a3;
  --white-8: #949494;
  --white-9: #858585;
  --white-10: #767676;

  /* Yellow */
  --yellow-1: #ffff00;
  --yellow-2: #ffea00;
  --yellow-3: #ffd500;
  --yellow-4: #ffc000;
  --yellow-5: #ffab00;
  --yellow-6: #ff9600;
  --yellow-7: #ff8100;
  --yellow-8: #ff6c00;
  --yellow-9: #ff5700;
  --yellow-10: #ff4200;

  /* Red */
  --red-1: #ff0000;
  --red-2: #e60000;
  --red-3: #cc0000;
  --red-4: #b30000;
  --red-5: #990000;
  --red-6: #800000;
  --red-7: #660000;
  --red-8: #4d0000;
  --red-9: #330000;
  --red-10: #1a0000;

  /* Blue */
  --blue-1: #0000ff;
  --blue-2: #0000e6;
  --blue-3: #0000cc;
  --blue-4: #0000b3;
  --blue-5: #000099;
  --blue-6: #000080;
  --blue-7: #000066;
  --blue-8: #00004d;
  --blue-9: #000033;
  --blue-10: #00001a;

  /* Purple */
  --purple-1: #800080;
  --purple-2: #730073;
  --purple-3: #660066;
  --purple-4: #590059;
  --purple-5: #4d004d;
  --purple-6: #400040;
  --purple-7: #330033;
  --purple-8: #260026;
  --purple-9: #1a001a;
  --purple-10: #0d000d;

  /* Green */
  --green-1: #008000;
  --green-2: #007300;
  --green-3: #006600;
  --green-4: #005900;
  --green-5: #004d00;
  --green-6: #004000;
  --green-7: #003300;
  --green-8: #002600;
  --green-9: #001a00;
  --green-10: #000d00;

  /* Pink */
  --pink-1: #ffc0cb;
  --pink-2: #ffb3c1;
  --pink-3: #ffa6b8;
  --pink-4: #ff99ae;
  --pink-5: #ff8ca5;
  --pink-6: #ff7f9c;
  --pink-7: #ff7292;
  --pink-8: #ff6589;
  --pink-9: #ff5880;
  --pink-10: #ff4c76;

  /* Gold */
  --gold-1: #ffd700;
  --gold-2: #ffcc00;
  --gold-3: #ffc200;
  --gold-4: #ffb800;
  --gold-5: #ffae00;
  --gold-6: #ffa400;
  --gold-7: #ff9900;
  --gold-8: #ff8f00;
  --gold-9: #ff8500;
  --gold-10: #ff7b00;
}


// Main app styling
body {
  // Variables
  --bg: var(--white-1);
  --header-text-color: #9d4dff;
  --title-text-color: #a5009a;
  --text-color: #FF7597;
  --link-color: #03DAC5;
  --link-background-color: #1f1e21;
  --dropdown-color: black;
  --dropdown-link-bg: white;
  --gh-card-bg: var(--white-3);
  --gh-card-hover-bg: var(--white-4);
  --gh-dropdown-bg: var(--white-2);
  --gh-card-title: var(--black-3);
  --gh-card-text: var(--blue-6);

  // Properties
  background-color: var(--white-1);
}
body.dark {
  // Variables
  --bg: #1f1e21;
  --header-text-color: #FFD700;
  --title-text-color: #FF7597;
  --text-color: #FF7597;
  --link-color: #03DAC5;
  --link-background-color: #46444a;
  --dropdown-color: white;
  --dropdown-link-bg: #1f1e21;
  --gh-card-bg: var(--black-3);
  --gh-card-hover-bg: var(--black-4);
  --gh-dropdown-bg: var(--black-2);
  --gh-card-title: var(--white-3);
  --gh-card-text: var(--white-1);
  
  // Properties
  background-color: var(--bg)
}

.app {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
}

.view-content {
  padding: 0 1rem;
  margin-bottom: 10rem;
  color: var(--title-text-color);
}

.title-text {
  text-align: center;
}

.header-title {
  display: flex;
  justify-content: center;
  // padding: 1.5rem;
  .home-link {
    text-decoration: none;
    color: var(--header-text-color);
    font-family: $font-header;
    text-align: center;
    font-size: 3rem;

  }
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.nav-menu-icon {
  color: var(--dropdown-color);
  height: 42px;
  width: 42px;
}

.nav-menu-icon:hover {
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: column;
  background-color: var(--dropdown-link-bg);
  border-radius: 5px;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  color: var(--link-color);
  padding: 4px 12px;
}

.nav-link:hover {
  background-color: var(--link-background-color);
  border-radius: 5px;
}

.navbar-header {
  display: fixed;
  top: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 1rem;
  opacity: 96%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $text-primary;
  background-color: var(--bg);
}

.footer_icons {
  color: $header-primary-dark;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.theme-label {
  position: fixed;
  top: 4px;
  right: 4px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-label:hover {
  cursor: pointer;
}

.theme-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $header-primary-dark;
  -webkit-transition: .4s;
  transition: .4s;
}

.theme-slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.theme-checkbox:checked + .theme-slider {
  background-color: $text-secondary;
}

.theme-checkbox:checked + .theme-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.theme-icon {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 5px;
  bottom: 5px;
}

.theme-checkbox:checked ~ .theme-icon {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.theme-toggle {
  position: fixed;
  top: 0;
  right: 0;
}

.clickable_icon {
  // padding: 1rem;
  color: $header-primary-dark;
  :hover {
    cursor: pointer;
  }
}

.home {
  margin: 0 5%;
  color: $text-primary;
  h3 {
    color: $header-primary-light;
  }
}

.home_image {
  color: black;
  width: 100rem;
  height: 100rem;
}



// PROJECTS
.github > h3 {
  text-align: start;
}

.gh-repo-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  
}

.repo-link {
  text-decoration: none;
}

.gh-repo {
  display: flex;
  flex-direction: column;
  background-color: var(--gh-card-bg);
  // padding: 1px 6px;
  padding-top: 0;
  border-radius: 5px;
  height: min-content;
}

.gh-repo:hover {

}

.gh-dropdown-icon {
  color: var(--text-color);
  background-color: var(--gh-dropdown-bg);
  height: 30px;
  width: auto;
}

.gh-dropdown-icon:hover {
  cursor: pointer;
}

.gh-repo-link {
  text-decoration: none;
  text-align: center;
}

.gh-repo-link:hover {
  background-color: var(--gh-card-hover-bg);
}

.gh-repo-link > h1 {
  color: var(--gh-card-title);
  font-weight: bold;
  font-size: 24px;
}

.gh-repo-link > p {
  color: var(--gh-card-text);
  font-size: 20px;
}


// WINGS
.wings {

}

.wings_link {
  text-decoration: none;
  color: $text-primary;
}

.input_text {
  margin: 10rem 8rem;
  overflow: hidden;
}

// FORM - Specific
.signup {
  display: flex;
  flex-direction: column;
  p {
    font-size: 2rem;
  }
}

.login {
  display: flex;
  flex-direction: column;
  p {
    font-size: 2rem;
  }
}

// FORM - Generic
.form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.input_section {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  input {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    width: 100%;
  }
  
}

.input_label_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  label {
    color: $text-primary;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .input_warning_message {
    font-size: 1rem;
    color: $text-warning;
    font-weight: 300;
    height: 1rem;
  }
}

.form_submit_btn {
  font-size: 1.5rem;
  border-radius: 2rem;
  border-style: none;
  background-color: $btn-background;
  color: white;
  margin-top: 2rem;
  padding: 1rem 2rem;
  width: fit-content;
  justify-self: center;
  align-self: center;
  :hover {
    cursor: grab/pointer;
    background-color: black;
  }
}

.link_primary {
  font-size: 2rem;
  color: $text-primary;
  text-align: center;
}
.question_primary {
  font-size: 2rem;
  text-align: center;
  color: $header-primary-light
}

// Desktop Monitors
@media screen and (min-width: 790px) {
  .header-title {
    padding: 1.5rem;
  }

  .view-content {
    padding: 0 1rem;
    margin-bottom: 10rem;
    color: var(--title-text-color);
  }

  .gh-repo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  // Login & Signup Screens
  .login, .signup {
    justify-content: center;
    align-items: center;
  }
  
  // Login & Signup forms
  .form {
    width: 26rem;
    .input {
      font-size: 1rem;
    }
  }
  .input_section {
    margin: 1rem;
  }
  .form_submit_btn {
    font-size: 1rem;
    border-radius: .2em;
    padding: .4rem 1rem;
    width: 80%;
  }
  .input_label_section {
    label {
      font-size: 1.2rem;
    }
  }
}